# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app
lib/
redis_client.v12.suo
redis_client.sdf
*.opensdf
example/tmp/
redis_client/tmp/
*.pdb
.vs/redis_client/v14/.suo
*.ipch
*.opendb
*.db
x64/